.new-navbar {
    background-color: #000; /* Background color of the navbar */
    padding: 0px 0;
    display: flex;
    justify-content: center; /* Center the navbar items */
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    gap: 40px; /* Space between the items */
  }
  
  .nav-item {
    color: #fff; /* Default white color */
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    padding-top: 10px;
  }
  
  .nav-item:hover {
    color: #d1d1d1; /* Lighter color on hover */
  }
  
  .highlight {
    color: #d4a017; /* Highlight color for 'Christmas' */
  }
  
  .clearance {
    color: #ff4500; /* Orange/red color for 'Clearance' */
  }
  