/* Container to hold logo, search bar, and icons inline */
.containers {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #f9f9f9;
  justify-content: space-between; /* Ensures proper spacing */
}

/* Style for the logo */
.logo {
  margin: 16px;
  width: 100px;
}

/* Container for the search bar */
.search-container {
  position: relative;
  margin-right: auto;
}

/* Style for the search input */
.search-bar {
  padding: 8px 12px;
  padding-right: 40px;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  width: 500px;
  font-size: 14px;
}

/* Position the search icon */
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #a1a1a1;
  pointer-events: none;
}

/* Container for the icons next to the search bar */
.icon-container {
  display: flex;
  align-items: center;
}

/* Individual icon styling */
.icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  position: relative;
}

.checkout-button {
  padding: 8px 16px;
  background-color: #b8d8d8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  margin-top: 6px;
}
/* .dropdown-dialog {
  background: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.checkout {
  background: #c7e5e5;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color:#006666;
} */

/* .checkout:disabled {
  background: #f1f1f1;
  cursor: not-allowed;
} */

/* Hide search bar on mobile */
@media screen and (max-width: 768px) {
  .search-container {
    display: none;
  }

  .checkout-button {
    padding: 6px 12px;
  }
}
