.child-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Aligns items vertically */
    margin-top: 1rem;
    background: rgba(17, 9, 46, 0.187);
    height: 80px; /* Adjust height as needed */
}

.btn a{
    border: solid;
    border-radius: 20px;
    background-color: white;
    color: rgb(3, 29, 45);
    height: 40px; /* Set specific height for the button */
    /* line-height: 40px; Center text vertically */
    padding: 0 20px; /* Add horizontal padding for spacing */
    display: inline-flex; /* Ensure the button behaves like inline element */
    align-items: center; /* Vertically center the text */
    font-size: 10px;
}
